{% extends "base.html.twig" %}

{% block body %}
	<div class="containershow">
		<div class="container2">
			<div class="img-fluid">
				<img src="/assets/blog/images/{{ game.image }}" alt="{{ game.title }} "/>
			</div>
			<div class="textdetail">
				<h2>{{ game.title }}
				</h2>
				<p class="date">
					<strong>Crée le:
					</strong>
					{{ game.createdAt | date("d/m/Y") }}</p>
				<p class="date">
					<strong>Date du Tombola:
					</strong>
					{{ game.dateEnd | date("d/m/Y") }}
					<strong>à
					</strong>
					{{ game.dateEnd | date("H:i") }}</p>
				<strong>
					<class="date">Date limite de Participation:
					</strong>
					{{ game.dateEndParticipation | date("d/m/Y") }}</p>
				<p class="content">
					{{ game.contenu }}
				</p>
			</div>
		</div>
		<div class="container3">
			<div class="left">
				<p>
					<strong>Lot a gagner:
					</strong>
				</p>
				<img src="/assets/blog/images/{{ game.gift }}"/>
			</div>
			<div class="qr">
				<strong>
					<p>Code Qr du jeu:</p>
				</strong>
				<img src="/assets/blog/images/{{ game.qr }}" alt="{{ game.title }}"/>
			</div>
		</div>
	</div>
{% endblock %}
