{% extends 'base.html.twig' %}

{% block title %}Jeu
{% endblock %}

{% block body %}
	<div class="superrow">
		<div class="row">
			{% for game in games %}
				<div class="card">
					<div class="imageCard">
						<img src="{{game.image}}" alt="{{game.title}}"/>
					{# src="/assets/blog/images/{{ game.image }}" alt="{{ game.title }}"> #}
						{# <img src="/assets/blog/images/stade.png" alt=""> #}
					</div>
					<div class="container">
						<div class="container4">
							<h3>{{ game.title }}
							</h3>
							<p class="date">Crée le
								{{ game.createdAt | date("d/m/Y") }}</p>
							<p class="date">Date du Tombola
								{{ game.dateEnd | date("d/m/Y") }}

								{{ game.dateEnd | date("H:i") }}</p>
							<p class="date">Date limite de Participation
								{{ game.dateEndParticipation | date("d/m/Y") }}</p>

							<div class="gift">
								<p>Lot a gagner:
									{# <img src="{{ game.gift }}"> #}
								</p>
							</div>
							<a href="{{ path('show', {'id':game.id}) }}" class="btn">En savoir plus</a>
						</div>
					</div>

				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
